.tyot {
    font-style: italic;
  }

  H1 {text-align: center;}
  h3 {

  }
.hhh { margin-top: 40pt;}
  body {
    background-color:rgb(0, 26, 128);
    background-image: url("maisema.jpg");
    background-repeat: no-repeat;
    font-family: Tahoma, Verdana, sans-serif;
    
  }

  .kuva1 {
    border: 1px solid black;
    border-radius: 25%;
    background-color: beige;
    margin: 0%;
  }
  .antti1 
  { 

    float:right;
    border: 1px solid beige;
    border-radius: 5%;
    padding-right: 5px;
    background-color: beige;
    margin: 0%;
    text-align: justify;

}
div {
  background-color: beige;
  width: 60%;
  border: 2px solid rgb(0, 26, 128);
  border-radius: 12px;
  padding: 5px;
  margin: auto;
  box-shadow: 5px 5px rgb(0, 26, 128);
  
}

  .div2 {
    margin: auto;
  }
.opiskelu { color: rgb(0, 14, 0);}
.alaosa {
        color: white;
}
.vapaaehtoinen
{ color: rgb(2, 0, 8);}

